langchain==0.3.7
langchain_anthropic==0.2.4
langchain_chroma==0.1.4
langchain_community==0.3.5
langchain_core==0.3.15
langchain_experimental==0.3.3
langchain_openai==0.2.6
langgraph==0.2.45
Pillow==11.0.0
pydantic==2.9.2
python-dotenv==1.0.1
Requests==2.32.3
tiktoken==0.8.0
typing_extensions==4.12.2
